<div id="main-container">
  <section class="container-fluid w-75">
  <%= link_to 'Return to articles listing', articles_path, class: "d-block mb-4" %>
    <% if flash.now[:notice] %>
      <div class="alert alert-success" role="alert">
          <%= flash.now[:notice] %>
      </div>
    <% end %>

    <h1><%= @article.title %></h1>
    <p><i>@<%= @article.user.username %> </i> | created <%= time_ago_in_words(@article.created_at) %> ago </p>
    <p><strong>Description: </strong><%= @article.description %></p>
    
    <% if logged_in? && (@article.user == current_user || current_user.admin? ) %>
      <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-outline-primary" %> 
      <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
    <% end %>
  </section>
</div>